<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> АвтоPRO </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1> АвтоPRO </h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/about/">О нас</a>
            <a href="/catalog/">Каталог</a>
        </nav>
    </header>
    <main>
        <h2>Добро пожаловать в нашу компанию аренды автомобилей.</h2>
        <p>У нас представлен большой ассортимент автомобилей по привлекательным ценам.</p>
    </main>
    <footer>
        <p>&copy; 2023 ООО АвтоPRO</p>
    </footer>
</body>
</html>
